@import '../../styles/guidelines';

.commonFeatureCard {
	text-align: center;
	width: 35rem;
	margin: 3rem auto;

	h2 {
		font-size: $fontsize_16;
		font-weight: $fontweight_semibold;
		margin-top: 1rem;
		min-height: 4rem;
	}

	p {
		font-size: $fontsize_12;
		font-weight: $fontweight_medium;
		text-align: center;
		width: 95%;
		margin: 0 auto;
	}
}
