@import '../../../styles/guidelines';

.pricingCardHead {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__Left {
		h2 {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			span {
				font-size: $fontsize_subtitle_20;
				font-weight: $fontweight_medium;
			}
		}
	}

	&__Right {
		text-align: right;
		h3 {
			color: $blue_7;
			font-size: $fontsize_subtitle_20;
			font-weight: $fontweight_medium;
		}

		p {
			color: $prim_dark_2;
			font-weight: $fontweight_semibold;
			span {
				text-decoration: line-through;
				margin-left: 5px;
			}
		}
	}
}

.startingAt {
	font-size: $fontsize_content_12;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: left;
	margin-top: 2rem;
	p {
		margin-right: 5px;
	}

	a {
		color: $blue_8;
		font-weight: $fontweight_bold;

		span {
			margin-right: 3px;
		}
	}
}
