@import '../../../styles/guidelines';

.heroBoxWrapper {
	width: 65rem;
	display: flex;
	flex-direction: row;
	@media only screen and(max-width: 700px) {
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
}

.heroBoxLogo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35%;

	@media only screen and(max-width: 700px) {
		margin: 3rem auto;
		width: 100%;
	}
}

.heroBoxText {
	padding-top: 2.7rem;
	padding-bottom: 2.7rem;
	padding-right: 3rem;
	width: 65%;

	h1 {
		font-size: $fontsize_subtitle_24;
		color: $prim_dark_1;
		line-height: $fontlineheight_content_30;
		margin-bottom: 1rem;
		width: 25rem;
	}

	p {
		font-size: $fontsize_content_12;
		color: $prim_dark_2;
		line-height: $fontlineheight_content_30;
	}

	@media only screen and(max-width: 700px) {
		margin-left: 3rem;
		width: 90%;

		h1 {
			width: 100%;
			font-size: $fontsize_subtitle_20;
		}
	}
}
