@import '../../styles/guidelines';

.filteredBlogs {
	min-width: 34.8rem;
	max-width: 34.8rem;
	height: 28rem;
	margin-bottom: 1.1rem;

	&__large {
		height: 53.8rem !important;
	}
	@media only screen and(max-width: 1080px) {
		display: none;
	}
}

.filterBlogLabel {
	background: $black_1;
	border-radius: 3px;
	color: $prim_white;
	font-size: $fontsize_14;
	font-weight: $fontweight_bold;
	width: 21rem;
	height: 2.8rem;
	display: flex;
	justify-content: flex-start;
	padding-left: 2rem;
	align-items: center;
	margin-bottom: 1rem;
	p {
		color: inherit;
	}
}

.blogTeaser {
	background: $grey_1;
	color: $prim_dark_2;
	width: 100%;
	border-radius: 3px;
	margin: 0.5rem auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 2rem;
	max-height: 8rem;

	p {
		color: $prim_dark_1;
		font-size: $fontsize_14;
		font-weight: $fontweight_medium;
	}

	small {
		text-transform: uppercase;
		font-size: $fontsize_10;
		font-weight: $fontweight_medium;
		color: $second_grey;
	}
}
