@import '../../styles/guidelines';

.productsNavbar {
	background: $prim_white;
	width: 100%;
	display: flex;
	box-shadow: 0 5px 10px rgba(#000, 0.5);
}

.productsNavbar__left {
	min-width: 24rem;
	background: $grey_1;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0 4rem;
}

.productsNavigator {
	margin: 4rem 0;
	color: $prim_dark_2;
	text-align: left;
	cursor: auto;
	h2 {
		color: inherit;
		font-size: $fontsize_subtitle_20;
		font-weight: $fontweight_medium;
	}
}

.productsNavbar__right {
	padding: 3rem 4rem;
	height: 100%;
}

.groupedLinksWrapper {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.bottomSummary {
	border-top: 1px solid $grey_1;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 3rem;

	h2 {
		font-size: $fontsize_subtitle_20;
		font-weight: $fontweight_medium;
	}

	p {
		color: $grey_8;
		margin: 0;
	}
}
