@import '../../../styles/guidelines';

.pricingCardHead {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__Left {
		h2 {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			span {
				font-size: $fontsize_subtitle_20;
				font-weight: $fontweight_medium;
			}
		}
	}
}

.pricePerDay {
	text-align: center;
	margin-top: 2rem;
	h3 {
		color: $blue_8;
		font-size: $fontsize_subtitle_24;
		font-weight: $fontweight_bold;
	}
}

.buyNameCTA {
	margin-top: 3rem;
	margin-bottom: 3rem;
	width: 100%;
}
