@import '../../styles/guidelines';

.productCard {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
	margin: 2rem 0;

	@media only screen and(max-width: 750px) {
		flex-direction: column;
		margin: 5rem auto;
	}

	@media only screen and(max-width: 480px) {
		margin: 0 auto;
		margin-top: 1em;
		padding: 2em 0 0 0;
	}

	&__Text {
		flex: 0 0 40%;

		@media only screen and(max-width: 750px) {
			order: 2;
			text-align: center;
			margin-top: 4rem;
		}

		@media only screen and(max-width: 480px) {
			margin-top: 0;
		}

		small {
			text-transform: uppercase;
			color: $grey_8;
			font-size: $fontsize_14;
			font-weight: $fontweight_bold;
			letter-spacing: 1.5px;
			margin-left: 3rem;

			@media only screen and(max-width: 480px) {
				margin-left: 0;
			}
		}

		h3 {
			margin-top: 8px;
			font-size: $fontsize_28;
			font-weight: $fontweight_bold;
			color: $black_1;
			line-height: 1;
			margin-bottom: 3rem;
			margin-left: 3rem;
			margin-right: 3rem;
		}

		p {
			width: 83%;
			font-size: $fontsize_14;
			font-weight: $fontweight_medium;
			color: $prim_dark_1;
			margin-left: 3rem;
			margin-right: 3rem;
			@media only screen and(max-width: 1280px) {
				width: 70%;
			}
			@media only screen and(max-width: 750px) {
				width: 100%;
			}

			@media only screen and(max-width: 480px) {
				margin: 0;
				padding: 0 1em;
			}
		}
	}

	.linkWrapper {
		display: flex;
		flex-direction: column;
		margin: 2rem 0;

		.multipleLink {
			color: $sellgo_purple;
			margin-bottom: 10px;
			display: inline-block;
			font-size: $fontsize_14;
			font-weight: $fontweight_medium;
			margin-left: 3rem;
			margin-right: 3rem;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__Link {
		color: $sellgo_purple;
		display: inline-block;
		margin: 2rem 0;
		font-size: $fontsize_14;
		font-weight: $fontweight_medium;
		margin-left: 3rem;
		margin-right: 3rem;

		&:hover {
			text-decoration: underline;
		}
	}

	&__Image {
		flex: 0 0 55%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-left: 2rem;
		margin-right: 2rem;
		img {
			max-width: 100%;
		}
	}
}

.reversedText {
	order: 2;
}

.stepperText {
	background: $tab_active;
	flex: 0 0 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 50px;
	border-radius: 20px;

	@media only screen and(max-width: 480px) {
		padding: 0;
		padding-top: 50px;
	}
}

.reversedImage {
	order: 1;
}

.extensionCTA {
	width: 20rem;
	border: 1px solid $grey_3;
	color: $prim_dark_2;
	font-size: $fontsize_16;
	font-weight: $fontweight_bold;
}
