@import '../../styles/guidelines';

.pricingPlansCardWrapper {
	position: relative;
	background: $prim_white;
	border-radius: 7px;
	min-width: 38rem;
	border: 1px solid $second_silver;

	@media only screen and(max-width: 1200px) {
		margin-top: 3rem;
	}

	@media only screen and(max-width: 450px) {
		min-width: 100%;
	}
}

.pricingPlansCard {
	width: 100%;
	padding: 2rem;
	margin-bottom: 10rem;
}

.buyNowCTA {
	width: 100%;
	margin: 2rem auto;
}

.planType {
	font-size: $fontsize_content_14;
}

.seeAllFeatures {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	border: 0;
	outline: 0;
	background: unset;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $blue_8;
	font-size: $fontsize_content_14;
	border-top: 1px solid $second_silver;
	cursor: pointer;
}
