@import '../../../styles/guidelines';

.newBenefitsSection {
	min-height: 100vh;
	background: $grey_0;
}

.benefitsWrapper {
	padding: 10rem 0;
}

.benefitsCardsWrapper {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-bottom: 10rem;
}

.newBenefitsCTA {
	width: 31rem;
	margin: 4rem auto;
	font-size: $fontsize_content_16 !important;
	font-weight: $fontweight_semibold !important;
}
