@import '../../../styles/guidelines';

.globalSellersBannerWrapper {
	background-image: url('../../../public/candlesticksBanner.png');
	background-size: cover;
	background-position: center;
	min-height: 27rem;
	padding-bottom: 3rem;
	padding-left: 3rem;
	padding-right: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;

	h2 {
		color: $prim_white;
	}
}
