@import '../../../styles/guidelines';

.infoSectionWrapper {
	margin-top: 10rem;
	background: $prim_dark_2;
}

.infoSection {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15rem 0;
	color: $prim_white;

	@media only screen and(max-width: 1000px) {
		flex-direction: column;
		text-align: center;
	}
}

.infoSection__Text {
	flex: 0 0 50%;

	h2 {
		font-size: $fontsize_title_46;
		font-weight: $fontweight_bold;
		line-height: 50px;
		color: inherit;
	}

	p {
		font-size: $fontsize_subtitle_20;
		color: inherit;
		font-weight: $fontweight_medium;
		margin: 3rem 0;
	}
}

.infoSection__Image {
	width: 60rem;
	height: 36rem;
	@media only screen and(max-width: 1000px) {
		margin-top: 4rem;
	}

	@media only screen and(max-width: 650px) {
		width: 100%;
	}
}
