@import '../../../styles/guidelines';

.infoSectionWrapper {
	background: $tab_active;
}

.infoSection {
	padding: 12rem 0;
	width: 90%;
	text-align: center;
}

.orangeHeading {
	color: $accent_orange;
	font-size: $fontsize_subtitle_32;
	font-weight: $fontweight_semibold;
}

.infoSectionDescription {
	text-align: center;
	font-size: $fontsize_content_14;
	font-weight: $fontweight_medium;
	width: 100%;
	@media only screen and(max-width: 650px) {
		width: 90%;
	}
}

.moreRevenue {
	height: 60px;
}

.animatedText {
	font-weight: $fontweight_extrabold;
	font-size: $fontsize_subtitle_40;
}
