@import '../../../styles/guidelines';

.productsStepperSection {
	margin: 10rem auto;
	min-height: 50vh;

	h2 {
		margin-bottom: 2rem;
	}
}

.stepperWrapper {
	a {
		font-weight: $fontweight_bold !important;
	}
}
