@import '../../../styles/guidelines';

.globalSellersBannerWrapper {
	background-color: $orange_3;
	min-height: 35rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.globalSellersBannerBG {
	background-image: url('../../../public/sellerWorldMap.png');
	background-size: cover;
	height: 35rem;
	width: 71rem;
	background-position: center;
	position: absolute;

	@media only screen and(max-width: 700px) {
		height: 22rem;
		width: 43rem;
	}
}

.globalSellersBanner {
	z-index: 0;
}

.statsRow {
	margin: auto;
	width: 50%;
	display: flex;
	justify-content: space-around;
}
