@import '../../../styles/guidelines';

.globalSellersBannerWrapper {
	background-color: $orange_3;
	min-height: 35rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.globalSellersBannerBG {
	background-image: url('../../../public/sellerWorldMap.png');
	background-size: cover;
	height: 35rem;
	width: 71rem;
	background-position: center;
	position: absolute;

	@media only screen and(max-width: 750px) {
		height: 22rem;
		width: 100%;
	}
}

.globalSellersBanner {
	z-index: 0;
}

.statsRow {
	margin: auto;
	width: 65%;
	display: flex;
	justify-content: space-around;

	@media only screen and (max-width: 750px) {
		width: 100%;
	}
}

.globalSellersStatCard {
	color: $prim_white;
	text-align: center;
	padding: 3rem 0;
}

.statsCount {
	width: 100%;
	font-size: $fontsize_title_54;
	color: $prim_dark_2;
	font-weight: $fontweight_bold;
	display: flex;
	justify-content: center;
	align-items: center;
	span {
		font-size: 1.4rem;
		margin-left: 5px;
	}

	@media only screen and(max-width: 600px) {
		font-size: $fontsize_subtitle_32;
	}
}

.statsMessage {
	font-size: $fontsize_content_14;
	font-weight: fontweight_regular;
	color: $prim_dark_2;
	width: 100%;
}
