@import '../../../styles/guidelines';

.recentBlogsWrapper {
	margin: 10rem auto;
}

.blogTitle {
	font-weight: $fontweight_bold;
	font-size: 32px;
	text-align: center;
}
.blogsWrapper {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin: 10rem auto;

	@media only screen and(max-width: 1080px) {
		flex-direction: column;
	}

	&__left {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;
		@media only screen and(max-width: 1080px) {
			width: 100%;
			margin: 2rem auto;
			justify-content: center;
		}
	}

	&__right {
		margin-left: 4rem;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		min-height: 100%;
		@media only screen and(max-width: 1080px) {
			width: 60rem;
			margin: 2rem auto;
		}

		@media only screen and(max-width: 650px) {
			width: 100%;
		}
	}
}

.recentArticlesWrapper {
	// margin-top: 4rem;
	h3 {
		font-size: $fontsize_subtitle_20;
		font-weight: $fontweight_bold;
		color: $prim-dark_2;
	}
}

.filterBlogLabel {
	background: $black_1;
	border-radius: 3px;
	color: $prim_white !important;
	font-size: $fontsize_content_14;
	font-weight: $fontweight_bold;
	width: 21rem;
	height: 2.8rem;
	display: flex;
	justify-content: flex-start;
	padding-left: 2rem;
	align-items: center;
	margin-bottom: 1rem;
}

.blogTeaser {
	min-width: 33rem;
	background: $grey_1;
	color: $prim_dark_2;
	width: 100%;
	border-radius: 3px;
	margin: 0.5rem auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 2rem;
	max-height: 8rem;

	p {
		color: $prim_dark_1;
		font-size: $fontsize_content_14;
		font-weight: $fontweight_medium;
		text-decoration: underline;
	}

	small {
		text-transform: uppercase;
		font-size: $fontsize_content_12;
		font-weight: $fontweight_semibold;
		color: $prim_dark_1;
	}
}
