@import '../../../styles/guidelines';

.calculatePriceSection {
	margin-top: 10rem;
	margin-bottom: 20rem;
}

.calculatePriceWrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 4rem auto;
}

.priceCalculator {
	flex: 0 0 60%;
}

.buyPlan {
	text-align: right;
	flex: 0 0 30%;
	a {
		margin: 1rem auto;
	}
}

.description {
	text-align: center;
	font-size: $fontsize_content_12;
	color: $prim_dark_2;
	margin-top: 2rem;
	width: 100%;
	line-height: $fontlineheight_content_30;
}
