@import '../../../styles/guidelines';

.closingCTASection {
	margin-top: 10rem;
	background: $black_1;
}

.closingCTAWrapper {
	padding: 10rem 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	@media only screen and(max-width: 800px) {
		flex-direction: column;
		padding: 5rem 0;
	}

	h2 {
		font-size: $fontsize_title_46;
		font-weight: $fontweight_bold;
	}

	p {
		font-size: $fontsize_content_14;
		margin: 3rem 0;
		color: $prim_white;
	}

	small {
		font-size: $fontsize_content_12;
		margin-top: 2rem;
		display: inline-block;
		color: $prim_white;
		max-width: 27rem;
	}

	.closingCTA {
		width: 27rem;
		@media only screen and(max-width: 500px) {
			margin: 0 auto;
		}
	}
}
