.slider {
	.rc-slider-step,
	.rc-slider-track,
	.rc-slider-mark,
	.rc-slider-rail {
		margin-top: 4px;
	}

	.rc-slider-handle {
		width: 20px;
		height: 20px;
		opacity: 1;
	}

	.rc-slider-mark {
		@media only screen and(max-width: 1000px) {
			display: none;
		}
	}
}
