@import '../../../styles/guidelines';

.heroboxWrapper {
	background: $prim_white;
	position: relative;
}

.herobox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $black_1;
	position: relative;
	text-align: left;
	margin-bottom: 5em;

	@media only screen and(max-width: 1080px) {
		margin-top: 10rem;
		flex-direction: column-reverse;
	}

	.tagline {
		font-size: $fontsize_content_14;
	}
}

.textColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@media only screen and(max-width: 1080px) {
		width: 100%;
	}
}

.heading {
	font-size: $fontsize_title_28;
	font-weight: $fontweight_extrabold;
	line-height: $fontlineheight_heading_70;
	margin-top: 2em;

	@media only screen and(max-width: 650px) {
		line-height: 1.2;
	}
}

.topSellersContainer {
	display: flex;
	align-items: center;
	gap: 3em;
	justify-content: space-between;
	margin-top: 4em;

	.left {
		max-width: 500px;

		h2,
		p {
			margin-bottom: 1em;
		}

		p,
		div {
			font-size: $fontsize_content_14;
		}
	}

	.value {
		font-weight: $fontweight_extrabold;
	}

	.buttonContainer {
		display: flex;
		gap: 2em;
		margin-top: 1em;
	}

	button {
		cursor: pointer;
		height: 4.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 7px;
		font-size: $fontsize_content_16;
		border: none;
		margin: 0 !important;

		&:disabled {
			opacity: 0.5;
			cursor: default;
			pointer-events: none;
		}

		&:hover {
			opacity: 0.8;
		}
	}

	.primaryButton {
		background: $orange_purple_gradient;
		color: $prim_white;
		font-weight: $fontweight_semibold;
		width: 220px;
	}

	.secondaryButton {
		color: $sellgo_purple !important;
		background: #fff;
	}
}
