@import '../../../styles/guidelines';

.pricngPlansSectionWrapper {
	min-height: 80vh;
}

.pricingPlansSection {
	padding-top: 6rem;
}

.planName {
	display: flex;
	justify-content: center;
	align-items: center;

	span {
		width: 4rem;
		height: 4rem;
		background: $blue_6;
		border-radius: 3px;
		margin-right: 10px;
	}

	h2 {
		font-size: $fontsize_subtitle_32;
	}
}

.planShortSummary {
	color: $prim_dark_2;
	font-size: $fontsize_content-14;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem auto;
	p {
		margin-right: 10px;
		color: inherit;
	}

	@media only screen and(max-width: 650px) {
		flex-direction: column;
		text-align: center;
		margin: 2rem auto;
	}
}

.paymentModeToggle {
	margin: 7rem auto !important;
}

.pricingPlansCardWrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 2rem auto;

	@media only screen and(max-width: 1200px) {
		flex-direction: column;
		align-items: center;
	}
}

.contactInfoSection {
	margin: 10rem auto;
	margin-bottom: 20rem;
}

.allFeaturesSection {
	margin: 10rem auto;
	@media only screen and(max-width: 1200px) {
		width: 100%;
	}

	@media only screen and(max-width: 750px) {
		display: none;
	}
}

.freeTrialBox {
	margin: 10rem auto;
}
