@import '../../../styles/guidelines';

.featuresList {
	margin-top: 0.5rem;
	margin-bottom: 0;

	p {
		font-size: $fontsize_20;
		color: $prim_dark_1;
		font-weight: $fontweight_semibold;
		text-transform: uppercase;
	}

	ul {
		list-style: none;
		padding-left: 18px;

		li {
			font-size: $fontsize_16;
			font-weight: $fontweight_regular;
			color: $prim_dark_1;
			padding-top: 11px;
			margin: 4px 0;
			span {
				margin-left: 7px;
			}
		}
	}
}
