@import '../../../styles/guidelines';

.brandsContainer {
	overflow: hidden;
	margin-top: 0;
	margin-bottom: 2em;
	text-align: center;
	width: 100%;

	h2 {
		color: $prim_dark_2;
		text-align: center;
		font-size: $fontsize_20;
		font-weight: $fontweight_medium;
		margin-bottom: 1.5em;
		border-bottom: 1px solid $prim_dark_2;
		line-height: 3;
	}

	div {
		display: flex;
		animation-name: marquee;
		animation-duration: 50s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	img {
		display: block;
		min-width: 100px;
		height: 100px;
		margin: 0 1vw;
	}
}

@keyframes marquee {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}
