@import '../../styles/guidelines';

.blogCtaBannerWrapper {
	background: $grey_1;
	margin: 0 auto;
	min-width: 100rem;
	max-width: 100rem;
	width: 100%;
	border-radius: 7px;
}

.blogCtaBanner {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	min-height: 12rem;
}
.blogCtaText {
	h3 {
		display: flex;
		align-items: center;
		color: $black_1;
		font-size: $fontsize_subtitle_20;
	}

	p {
		font-size: $fontsize_content_12;
		color: $second_grey;
	}

	span {
		color: $second_grey;
		font-size: $fontsize_content_10;
		font-weight: $fontweight_regular;
		margin-top: 4px;
		text-align: center;
	}
}
