@import '../../styles/guidelines';

.blogCtaBannerWrapper {
	background: $grey_1;
	margin: 0 auto;
	min-width: 100rem;
	max-width: 100rem;
	width: 100%;
	border-radius: 7px;

	@media screen and (max-width: 480px) {
		max-width: 100%;
		min-width: 100%;
	}
}

.blogCtaBanner {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	min-height: 12rem;

	@media screen and (max-width: 480px) {
		padding: 2em 1em;
		gap: 2em;
		flex-direction: column;
	}
}
.blogCtaText {
	h3 {
		display: flex;
		align-items: center;
		color: $black_1;
		font-size: $fontsize_20;
	}

	p {
		font-size: $fontsize_14;
		color: $second_grey;
	}

	h4 {
		font-size: $fontsize_10;
		color: $second_grey;
	}

	span {
		color: $second_grey;
		font-size: $fontsize_10;
		font-weight: $fontweight_regular;
		margin-top: 4px;
		text-align: center;
	}
}
