@import '../../../styles/guidelines';

.newBenefitsSection {
	min-height: 100vh;

	@media only screen and(max-width: 480px) {
		min-height: auto;
	}
}

.benefitsWrapper {
	padding: 20px 0;

	@media only screen and(max-width: 480px) {
		padding: 0;
	}
}

.benefitsCardsWrapper {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.firstCardWrapper {
	background: $f3f3f3_ffffff_gradient;
	margin: 0 auto;
	margin-top: 1rem;
	border-radius: 50px;
	padding: 5rem 0;
	max-width: max-content;
	width: 100%;

	@media only screen and(max-width: 480px) {
		padding: 0;
	}
}

.secondCardWrapper {
	background: $ffffff_f3f3f3_gradient;
	margin: 0 auto;
	margin-top: 0;
	border-radius: 50px;
	padding: 5rem 0;
	max-width: max-content;
	width: 100%;
}

.thirdCardWrapper {
	background: $f3f3f3_ffffff_gradient;
	margin: 0 auto;
	margin-top: 0;
	border-radius: 50px;
	padding: 5rem 0;
	max-width: max-content;
	width: 100%;
	margin-bottom: 10rem;

	@media only screen and(max-width: 480px) {
		margin-bottom: 4em;
	}
}

.newBenefitsCTA {
	margin: 4rem auto;
}
