@import '../../../styles/guidelines';

.newBenefitsSection {
	min-height: 100vh;
}

.benefitsWrapper {
	padding: 20px 0;
}

.benefitsCardsWrapper {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.greyCardWrapper {
	background: rgba(247, 247, 247, 1);
}

.whiteCardWrapper {
	background: $prim_white;
}

.newBenefitsCTA {
	margin: 4rem auto;
}
