@import '../../../styles/guidelines';

.tabsContainer {
	background: url('/intersection.png') no-repeat center center fixed;
	background-size: cover;
	height: 344px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	position: relative;

	.tabsHeading {
		position: absolute;
		top: 1.6em;
		font-weight: $fontweight_bold !important;
		font-size: $fontsize_title_30;
		padding: 0.2em 0.7em;
		border-radius: 7px;
		color: $prim_dark_2;
		background-color: #fff;
	}

	ul {
		display: flex;
		background: none;
		color: none;
		box-shadow: none;
		gap: 5em;
	}

	li {
		background-color: #fff;
		color: black;
		height: 180px;
		border-radius: 20px 20px 0 0;
		border: 5px solid #fff;
		filter: brightness(94%);
		border-bottom: 0;
	}

	h2 {
		font-weight: $fontweight_bold !important;
	}
}

.pricingPanelTabsWrapper {
	width: 100%;
	background: $tab_active;
	min-height: 7.5rem;
}

.pricingPanelTabList {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	color: $prim_dark_2;
	max-width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid $second_silver;
	background: #f0f0f0;
	box-shadow: $box-shadow-2;

	@media only screen and(max-width: 900px) {
		justify-content: space-evenly;
		flex-wrap: wrap;
	}
}

.pricingPanelTab {
	font-size: $fontsize_content_16;
	color: $prim_dark_2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 3rem;
	gap: 0.5em;
	width: 370px;
	cursor: pointer;
	position: relative;

	.headingContainer {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: 3em;
		filter: grayscale(100%);
		gap: 1em;
	}

	@media only screen and(max-width: 980px) {
		padding: 2rem;
	}

	&__Selected {
		color: $prim_white;
		background: #a4a3a4;
		border: 5px solid $sellgo_purple !important;
		filter: brightness(100%) !important;
		border-bottom: 0 !important;
		opacity: 1 !important;
		height: 196px !important;

		.headingContainer {
			filter: grayscale(0%);
		}
	}
}

.newBadge {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background: $system_green;
	color: $system_cream;
	border-radius: 15px;
	width: 4.3rem;
	height: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: $fontsize_content_12;
}

.brandsContainer {
	margin-top: 10em;
	text-align: center;

	h2 {
		color: $prim_dark_2;
		text-align: center;
		font-size: $fontsize_subtitle_32;
		margin-bottom: 2em;
	}

	img {
		padding: 0 5em;
		max-width: 100%;
	}
}
