@import '../../../styles/guidelines';

.pricingPanelWrapper {
	min-height: 80vh;
}

.pricingPanelTabsWrapper {
	width: 100%;
	min-height: 7.5rem;
}

.pricingPanelTabList {
	list-style: none;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $prim_dark_2;
	max-width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid $second_silver;
	box-shadow: $box-shadow-2;
}

.pricingPanelTab {
	font-size: $fontsize_content_16;
	font-weight: $fontweight_medium;
	color: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	cursor: pointer;
	min-width: 19.3rem;

	&__Selected{
		border-bottom:2px solid #707070;
		background:$blue_1;
		font-weight: $fontweight_semibold;
	}
}
