@import '../../../styles/guidelines';

.heroboxWrapper {
	min-height: 90vh;
	background: $grey_0;
}

.herobox {
	padding: 12rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $black_1;
	min-height: 80vh;
	position: relative;
	text-align: center;
}

.heading {
	font-size: $fontsize_title_46;
	font-weight: $fontweight_extrabold;
	line-height: $fontlineheight_heading_70;

	@media only screen and(max-width: 650px) {
		font-size: $fontsize_subtitle_38;
		line-height: 1.2;
	}
}

.animatedText {
	font-size: $fontsize_title_46;
	height: $fontlineheight_heading_70;
	@media only screen and(max-width: 650px) {
		font-size: $fontsize_subtitle_38;
	}
}

.tagline {
	margin-top: 40px;
	margin-bottom: 50px;
	font-size: $fontsize_subtitle_24;
	line-height: $fontlineheight_content_30;
	font-weight: $fontweight_semibold;
	color: $black_1;

	@media only screen and(max-width: 1080px) {
		width: 100%;
	}
}

.ctaHeroBox {
	@media only screen and(max-width: 1080px) {
		margin: 0 auto;
	}
}

.ctaOverText {
	font-size: $fontsize_content_14;
	margin-top: 2rem;
	display: inline-block;
	line-height: $fontlineheight_content_20;
	font-weight: $fontweight_semibold;
	margin-bottom: 15rem;
}

.heroboxImage {
	position: relative;
}

.heroboxImageOverlay {
	position: absolute;
	left: -40%;
	top: -10rem;
}

.logoRow {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;

	.socialProofLogoWrapper {
		margin: 0 1rem;
	}
}
