@import '../../../styles/guidelines';

.heroboxWrapper {
	min-height: 80vh;
	background: linear-gradient(180deg, #2f8ddf, #184770);
}

.herobox {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: $prim_white;
	min-height: 80vh;
}

.heroboxText {
	width: 50%;
	@media only screen and(max-width: 1280px) {
		width: 80%;
		margin: 0 auto;
	}

	@media only screen and(max-width: 650px) {
		width: 100%;
	}
}

.heading {
	font-size: $fontsize_title_54;
	font-weight: $fontweight_bold;
	line-height: $fontlineheight_heading_70;

	@media only screen and(max-width: 650px) {
		font-size: 4.5rem;
		line-height: 1.2;
	}
}

.tagline {
	font-size: $fontsize_content_14;
	line-height: $fontlineheight_content_30;
	font-weight: $fontweight_regular;
	margin: 2rem 0;
	width: 80%;

	@media only screen and(max-width: 650px) {
		width: 100%;
	}
}

.ctaOverText {
	font-size: $fontsize_content_12;
	margin-top: 2rem;
	display: inline-block;
	line-height: $fontlineheight_content_20;
	font-weight: $fontweight_regular;
}
