@import '../../../styles/guidelines';

.pricingHeadWrapper {
	padding: 1rem;
	position: relative;
	border-radius: 7px;
	background: $prim_white;
	height: 400px;

	&__new {
		padding-top: 6rem;
		border-top: none !important;
		height: 456px;
	}

	&__notNew {
		margin-top: 5rem;
	}

	&__bordered {
		border: 1px solid $second_silver;
	}
}
.pricingCardHead {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;

	&__Left {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;

		h2 {
			font-size: $fontsize_28;
			font-weight: $fontweight_bold;
			color: $prim_dark_2;
			margin: 0 auto;
		}

		p {
			font-size: $fontsize_10;
			font-weight: $fontweight_regular;
			color: $prim_dark_2;
			max-width: 33rem;
			text-align: center;
			white-space: pre-line;
			min-height: 2.1rem;
		}
	}
}

.startingAt {
	font-size: $fontsize_10;
	margin-top: 2rem;
	text-align: center;

	h3 {
		color: $prim_dark_2;
		font-size: $fontsize_32;
		font-weight: $fontweight_bold;
	}

	p {
		font-size: $fontsize_12;
		font-weight: $fontweight_medium;
		color: $prim_dark_1;
	}
}

.billedAtPrice {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	.originalPrice {
		font-size: $fontsize_12;
		line-height: 16px;
		font-weight: $fontweight_medium;

		&__small {
			font-size: $fontsize_10;
		}
	}

	.newPrice {
		margin-left: 10px;
		margin-right: 18px;
		font-size: $fontsize_14;
		font-weight: $fontweight_semibold;

		&__small {
			font-size: $fontsize_12;
		}
	}

	.savings {
		font-size: $fontsize_14;
		font-weight: $fontweight_semibold;

		&__small {
			font-size: $fontsize_12;
		}
	}
}

.toggleWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 2rem auto;
	div {
		width: 100%;
	}
}

.buyNowCTA {
	width: 90%;
	height: 4rem;
	font-weight: $fontweight_semibold;
	font-size: $fontsize_16;
	margin: 8rem auto;
	position: absolute;
	bottom: 0;

	@media screen and (max-width: 480px) {
		width: 16em;
	}
}

.skipTrial {
	margin: 8rem auto;
	position: absolute;
	font-size: $fontsize_16;
	font-weight: $fontweight_medium;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90%;

	a {
		color: $system_blue;
		text-decoration: underline;
		padding: 0.4em;
	}
}

.tableCardCTA {
	width: 90%;
	height: 5rem;
	font-weight: $fontweight_semibold;
	font-size: $fontsize_16;
	margin: 0;
	margin-bottom: 30px;
}

.newFeatureBanner {
	position: absolute;
	top: 0;
	height: 5rem;
	background: $purple_pink_gradient;

	/* To compensate for the 1px from border */
	width: calc(100% + 2px);
	left: -1px;
	right: 0;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-size: $fontsize_20;
	font-weight: $fontweight_medium;
	color: $prim_white;
	padding: 0 5rem;
}

.paymentModeToggle {
	@media screen and(min-width: 870px) {
		display: none !important;
	}
}

.betaPriceContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	.toggledPrice {
		/* Override absolute position for the smaller pricing header card */
		left: 10px;
	}
}

.talkToExpertContainer {
	text-align: center;

	h1 {
		color: #2e3b4a;
		font-size: $fontsize_16;
		font-weight: $fontweight_medium;
	}

	p {
		color: $grey_8;
		font-size: $fontsize_16;
		font-weight: $fontweight_semibold;
	}

	button {
		background-color: #000;
		font-size: $fontsize_16;
		font-weight: $fontweight_semibold;
		color: #fff;
		border: none;
		margin-top: 1.5em;
		border-radius: 7px;
		cursor: pointer;
		margin-bottom: 2em;
		left: 1em;
	}

	.buyNowBtn {
		width: 90%;
		height: 4rem;
		position: absolute;
		bottom: 0;
		margin: 8rem auto;
	}

	.tableCardBtn {
		width: 26rem;
		height: 5rem;
	}
}

.lookups {
	font-size: $fontsize_24;
	font-weight: $fontweight_bold;
	color: $prim_dark_2;
	margin: 0.2em auto;
	text-align: center;
}
