@import '../../../styles/guidelines';

.pricingCardHead {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 2rem;

	&__Left {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;

		h2 {
			font-size: $fontsize_subtitle_20;
			font-weight: $fontweight_medium;
			margin: 0 auto;
		}

		p {
			font-size: $fontsize_content_10;
			font-weight: $fontweight_regular;
			color: $grey_5;
			max-width: 30rem;
			text-align: center;
			white-space: pre-line;
			min-height: 6rem;
		}
	}
}

.planGems {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	div {
		margin-right: 5px;
	}
}

.startingAt {
	font-size: $fontsize_content_12;
	margin-top: 2rem;
	text-align: center;

	h3 {
		color: $blue_7;
		font-size: $fontsize_subtitle_32;
		font-weight: $fontweight_bold;
	}
}

.billedAtPrice {
	span {
		margin: 0 6px;
	}
}

.toggleWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 2rem auto;
	div {
		width: 100%;
	}
}

.buyNowCTA {
	width: 100%;
	margin: 3rem auto;
}

.tableCardCTA {
	width: 100%;
	margin: 0;
}
