@import '../../styles/guidelines';

.groupedNavLinks {
	cursor: pointer;
	margin-bottom: 3rem;
	padding: 1rem;
	border-radius: 7px;
	border: 1px solid #fff;
	min-width: 31rem;
	max-width: 31rem;
	width: 31rem;

	&:hover {
		border: 1px solid $grey_3;
		box-shadow: $box-shadow-1;
		background: $grey_1;
	}

	a {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		min-width: 45%;
	}
}

.linkDetails {
	color: $prim_dark_2;
	margin-left: 1rem;
	text-align: left;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;

	h2 {
		font-size: $fontsize_content_16;
		font-weight: $fontweight_semibold;
	}

	p {
		color: $grey_8 !important;
		font-size: $fontsize_content_12;
		font-weight: $fontweight_medium;
	}
}
