@import '../../styles/guidelines';

.groupedNavLinks {
	display: flex;
	align-items: flex-start;
	margin-bottom: 3rem;
	margin-right: 4rem;
	cursor: auto;
}

.icon {
	width: 4rem;
	height: 4rem;
	background: $grey_1;
	border-radius: 7px;
	cursor: auto;
}

.linkDetails {
	color: $prim_dark_2;
	margin-left: 1rem;
	text-align: left;
	h2 {
		font-size: $fontsize_subtitle_20;
		font-weight: $fontweight_medium;
	}

	p {
		color: $grey_8;
	}

	a {
		color: $blue_8;
		font-size: $fontsize_content_12;
		display: inline-block;
	}
}
