@import '../../../styles/guidelines';

.commonFeaturesSectionWrapper {
	margin: 0 auto;
	margin-top: 10rem;
	background: #EEF7F9;
	border-radius: 50px;
	padding: 10rem 5rem;
	max-width: max-content;
	width: 100%;
}

.commonFeaturesSection {
	color: $prim_dark_2;

	h3 {
		color: $prim_dark_1;
		font-size: $fontsize_subtitle_20;
		font-weight: $fontweight_semibold;
		margin-top: 1rem;
		min-height: 4rem;
		text-align: center;
	}
}

.featuresCardWrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 10rem;
	flex-wrap: wrap;
}
