@import '../../../styles/guidelines';

.statisticsSection {
	min-height: 80vh;
	background: linear-gradient(180deg, $blue_6, #184770);
	display: flex;
	margin-bottom: 10rem;
}

.statisticsWrapper {
	color: $prim_white;
	height: 70vh;
	padding-top: 10rem;
	text-align: center;

	h2 {
		color: inherit;
		margin-bottom: 2rem;
	}

	p {
		color: inherit;
		font-size: $fontsize_content_14;
		font-weight: fontweight_regular;
		line-height: $fontlineheight_content_30;
		width: 70%;
		margin: 0 auto;

		@media only screen and(max-width: 650px) {
			width: 80%;
		}
	}
}
