@import '../../styles/guidelines';

.blogsPage {
	min-height: 100vh;
	margin: 5rem auto;
}

.blogsHeroSection {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.blogCard {
	width: 75%;
	margin-right: 3rem;
}

.blogFilter {
	width: 30%;
}
