@import '../../../styles/guidelines';

.navbarTop {
	color: $prim_white;
	font-weight: $fontweight_medium;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	font-size: 14px;
}

.navbarTopLinksList {
	display: flex;
	justify-content: center;
	align-items: center;
	@media only screen and(max-width: 950px) {
		display: none;
		visibility: none;
	}
}

.salesEstimator {
	color: $prim_white;
}

.demoButton {
	cursor: pointer;
	background: none;
	font-size: $fontsize_14;
	color: $prim_white;
	border: none;
	font-weight: $fontweight_medium;
}

.navbarTopLink {
	margin-left: 4rem;
	display: flex;
	align-items: center;
}
