@import '../../../styles/guidelines';

.navbarTop {
	color: $prim_white;
	font-weight: $fontweight_medium;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	font-size: 14px;
}

.navbarTopLinksList {
	display: flex;
	justify-content: center;
	align-items: center;
	@media only screen and(max-width: 950px) {
		display: none;
		visibility: none;
	}
}

.navbarLink {
	color: $prim_white;
	&__sales {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		color: $prim_white;
	}
}

.navbarTopLink {
	margin-left: 4rem;
	display: flex;
	align-items: center;
}
