@import '../../styles/guidelines';

.benefitCard {
	width: 33%;
	min-width: 20rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5rem;

	&__topCard {
		// Increase the gap betweeen first & second row only when there's 3 cards/row
		@media only screen and (min-width: 890px) {
			margin-bottom: 12rem;
		}
	}
}

.benefitTitle {
	color: $prim_dark_2;
	font-weight: $fontweight_bold;
	font-size: $fontsize_14;
	line-height: $fontlineheight_content_20;
	margin-top: 1.4rem;
	margin-bottom: 1.6rem;
}

.benefitDescription {
	color: $prim_dark_2;
	font-size: $fontsize_12;
	font-weight: $fontweight_regular;
	line-height: $fontlineheight_content_20;
	max-width: 23rem;
}
