@import '../../../styles/guidelines';

.freemiumSectionWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.headingRow {
	margin-top: 5rem;
	margin-bottom: 5rem;
	width: 65rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	.title {
		color: $prim_dark_2;
		font-size: 24px;
		font-weight: bold;
	}

	.counter {
		color: $prim_dark_2;
		font-size: 48px;
		font-weight: bold;
	}
}

.formInput {
	margin-bottom: 18px;
	width: 65rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	label {
		font-size: 14px;
	}

	input {
		height: 5rem;
		width: 40rem;
		border: 1px solid $grey_3;
		border-radius: 5px;
		padding: 0 10px;
		font-size: 14px;

		&:focus {
			outline: none !important;
		}
	}

	&__error input {
		border: 1px solid $system_red;
	}
}

.errorMessage {
	font-size: 14px;
	color: $system_red;
	text-align: right;
	margin-top: -10px;
}

.productRow {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.productImage {
	margin-right: 18px;
}

.productTitle {
	color: $grey_8;
	font-size: 16px;
}

.productAsin {
	display: flex;
	flex-direction: row;
	align-items: center;

	.flagImg {
		height: 15px;
		width: 15px;
		margin-right: 10px;
	}

	.asinLink {
		color: $grey_8;
		font-size: 14px;

		&:hover {
			font-weight: $fontweight_semibold;
			text-decoration: underline;
		}
	}
}

.buttonsRow {
	margin-top: 30px;
	width: 65rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	.estimateButton {
		border-radius: 7px;
		font-weight: $fontweight_medium;
		width: 14rem;
		height: 3.5rem;
		color: $prim_white;
		border: 1px solid $accent_orange;
		background: $accent_orange;

		&:hover {
			cursor: pointer;
		}

		&:disabled {
			opacity: 0.6;
			cursor: unset;
		}
	}
}

.captchaWrapper {
	margin-bottom: 18px;
	display: flex;
	width: 100%;
	justify-content: center;
}

.showCalculatorLink {
	margin-top: 5rem;
	background: none;
	border: none;
	font-size: 14px;
	color: $accent_blue;
	font-weight: normal;

	&:hover {
		cursor: pointer;
	}

	&:disabled {
		// opacity: 0.6;
		color: $grey_3;
		cursor: unset;
	}
}
