@import '../../../styles/guidelines';

.firstCTASectionBoxWrapper {
	background: $tab_active;
}

.firstCTASectionBox {
	padding-top: 9rem;
	padding-bottom: 12rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.firstCTAContent {
	margin-top: 3rem;
	color: $prim_dark_2;
	font-size: $fontsize_content_14;
	font-weight: $fontweight_regular;
	line-height: $fontlineheight_content_30;
}

.ctaButton {
	width: 25rem;
	margin-top: 5rem;
}
