@import '../../styles/guidelines';

.benefitsPanel {
	margin-top: 5rem;
	width: 100%;
	display: flex;
	flex-direction: column;

	&__Row {
		margin-top: 3rem;
		width: 100%;
		display: flex;
		justify-content: space-between;

		@media only screen and(max-width: 1280px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__Left {
		width: 30%;
		@media only screen and(max-width: 1280px) {
			width: 100%;
			text-align: center;
			margin-bottom: 2rem;
		}
	}

	&__Right {
		width: 65%;
		margin-bottom: 0;
		@media only screen and(max-width: 1280px) {
			width: 100%;
		}
	}
}

.benefitsSummary {
	font-size: $fontsize_16;
	color: inherit;
	font-weight: $fontweight_semibold;

	@media only screen and(max-width: 900px) {
		font-size: 2rem;
	}
}

.details {
	margin-top: 2rem;
	font-size: $fontsize_14;
	font-weight: $fontweight_regular;
	color: $grey_8;
	margin-bottom: 4rem;
}

.benefitsImage {
	margin-top: 0;
	object-fit: contain !important;
	width: 100%;
	height: 30rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $prim_white;
	border: 7px;
	margin-bottom: 2rem;

	@media only screen and(max-width: 1280px) {
		margin: 2rem auto;
	}

	@media only screen and(max-width: 1280px) {
		width: 100%;
	}
}

.benefitsDescription {
	h3 {
		text-transform: uppercase;
		font-size: $fontsize_14;
		color: inherit;
		font-weight: $fontweight_semibold;
		margin: 3rem 0;
	}

	@media only screen and(max-width: 1080px) {
		text-align: center;
	}
}

.featureListWrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;

	@media only screen and(max-width: 1080px) {
		justify-content: space-between;
	}
}

.featureList {
	flex: 1;
	text-align: left;
	margin-right: 2rem;
	margin-bottom: 3rem;
	max-width: 20rem;
	min-width: 20rem;

	@media only screen and(max-width: 600px) {
		min-width: 80%;
		text-align: center;
		margin: 2rem auto;
	}

	h4 {
		font-size: $fontsize_14;
		color: $blue_8;
		font-weight: $fontweight_semibold;
	}

	p {
		font-size: $fontsize_12;
		// color: $prim_dark_2;
		font-weight: $fontweight_regular;
		color: $grey_8;
	}
}
