@import '../../styles/guidelines';

.contactInfo {
	text-align: center;	

	h2 {
		font-size: $fontsize_subtitle_20;
		font-weight: $fontweight_semibold;
	}
}

.capsule {
	width: 45rem;
	height: 5rem;
	border-radius: 10rem;
	margin: 0 auto;
	margin-top: 2rem;
	font-size: $fontsize_content_16;
	font-weight: $fontweight_semibold;
	color: $prim_dark_2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media only screen and(max-width: 500px) {
		width: 100%;
	}

	p {
		font-weight: $fontweight_semibold;
	}

	.contactSalesButton {
		background: none;
		border-radius: 7px;
		border-color: $prim_dark_2;		
		color: $prim_dark_2;
		width: 24rem;
		height: 4rem;
		cursor: pointer;
		text-decoration: none;
		font-size: $fontsize_content_16;
		font-weight: $fontweight_semibold;		
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
