@import '../../styles/guidelines';

.partnersSignupWrapper {
	display: flex;
	justify-content: center;
}

.blueBG {
	position: absolute;
	width: 100%;
	height: 25rem;
	background: linear-gradient(90deg, $blue_9, $blue_8, $blue_7, $blue_7);
	z-index: -1;
}
.partnersSignupBox {
	background-color: $prim_white;
	margin-top: 9rem;
	margin-bottom: 5rem;
	max-width: 65rem;
	box-shadow: $box-shadow-1;
	border-radius: 7px;
}
