@import '../../styles/guidelines';

.pricingInfoAlert {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: $grey_1;
	border: none;
	color: $prim_dark_2;
	padding: 1rem 2rem;
	border-radius: 7px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-bottom: 3rem;
	min-height: 10rem;

	h3 {
		font-size: $fontsize_14;
		font-weight: $fontweight_semibold;
		color: $prim_dark_2;
		margin-left: 2rem;
	}

	div {
		font-size: $fontsize_10;
		font-weight: $fontweight_regular;
		color: $grey_8;
		margin-left: 2rem;

		a {
			color: inherit;
			font-size: $fontsize_10;
			display: inline-block;

			&:hover {
				text-decoration: underline;
			}
			svg {
				margin-left: 5px;
			}
		}
	}
}
