@import '../../styles/guidelines';

.pricingInfoAlert {
	background: $grey_1;
	border: none;
	color: $prim_dark_2;
	padding: 1rem 2rem;
	border-radius: 7px;
	margin: 3rem auto;

	h3 {
		font-size: $fontsize_content_14;
		font-weight: $fontweight_semibold;
		color: $prim_dark_2;
		margin-left: 2rem;
	}

	div {
		font-size: $fontsize_content_10;
		font-weight: $fontweight_regular;
		color: $grey_8;
		margin-left: 2rem;

		a {
			color: inherit;
			font-size: $fontsize_content_10;
			margin-left: 10px;
			display: inline-block;

			&:hover {
				text-decoration: underline;
			}
			svg {
				margin-left: 5px;
			}
		}
	}
}
