@import '../../../styles/guidelines';

.betaPopupModal {
	position: relative;
	outline: none !important;
	width: 70rem;
	height: 43rem;
	padding: 7rem 10rem;
	background: $prim_white;
	border: 1px solid $border-color-1;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	h2 {
		font-size: $fontsize_subtitle_32;
		font-weight: $fontweight_bold;
		margin-bottom: 20px;

		@media screen and (max-width: 800px) {
			font-size: $fontsize_subtitle_28;
		}
	}

	@media screen and (max-width: 800px) {
		padding: 3.5rem 5rem;
		width: 90vw;
	}
}

.betaDescription {
	font-size: $fontsize_subtitle_24;
	font-weight: $fontweight_semibold;

	@media screen and (max-width: 800px) {
		font-size: $fontsize_content_16;
	}
}

.purpleText {
	margin-top: 18px;
	margin-bottom: 18px;
	color: $sellgo_purple;
	display: flex;
	align-items: center;
	justify-content: center;
	display: flex;
	align-items: center;

	span {
		position: absolute;
		left: calc(50% + 70px);
		font-size: $fontsize_subtitle_20;
		font-weight: $fontweight_semibold;
	}

	@media screen and (max-width: 800px) {
		div {
			height: 50px;
		}

		span {
			font-size: $fontsize_content_16;
			position: absolute;
			left: calc(50% + 50px);
		}
	}
}

.betaTerms {
	font-size: $fontsize_content_14;
	font-weight: $fontweight_semibold;
}
