@import '../../../styles/guidelines';

.smallFeatureCard {
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 35rem;
	height: 47rem;
	max-height: 100%;
	box-shadow: $box-shadow-1;

	&__Extended {
		min-height: 68rem;
	}
}

.bgImage {
	min-height: 20rem;
	height: 20rem;
	width: 100%;
	overflow: hidden;
	z-index: -1;
	position: relative;
}

.blogText {
	color: $prim_dark_2;
	background: $grey_1;
	padding: 2rem;
	// min-height: 18rem;
	width: 100%;
	position: relative;
	flex: 1;

	h2 {
		font-size: $fontsize_subtitle_24;
		font-weight: $fontweight_semibold;
		margin-bottom: 4rem;
	}

	p {
		text-transform: uppercase;
		font-size: $fontsize_content_14;
		font-weight: $fontweight_semibold;
		margin-top: 2rem;
		position: absolute;
		bottom: 1rem;
		left: 2rem;
	}
}
