@import '../../../../styles/guidelines';

.stepperGrid {
	display: grid;
	grid-template-columns: 10% 80% 10%;
	align-items: center;
	margin-top: 5em;

	@media only screen and(max-width: 1100px) {
		grid-template-columns: 5% 90% 5%;
	}

	@media only screen and(max-width: 600px) {
		grid-template-columns: 0 100% 0;
	}
}

.stepperWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.stepWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 10rem;
	margin: 0 0.5rem;
	width: 10rem;

	@media only screen and(max-width: 1100px) {
		width: 4rem;
	}

	.step {
		display: flex;
		flex-direction: column;
		align-items: center;

		&:hover {
			cursor: pointer;
		}
	}

	.translucent {
		opacity: 0.5;
	}
}

.stepTitle {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 1.4rem;
	font-size: $fontsize_content_12;
	color: $grey_8;
	font-weight: $fontweight_medium;
	height: 30px;

	@media only screen and(max-width: 1650px) {
		width: 9rem;
	}

	@media only screen and(max-width: 1100px) {
		display: none;
	}

	&__selected {
		font-size: $fontsize_content_12;
		font-weight: $fontweight_semibold;
		color: $prim_dark_2;
	}
}

.arrowButton {
	margin: 0 auto;
	margin-bottom: 40px;
	background: none;
	border: none;
	cursor: pointer;

	@media only screen and(max-width: 1100px) {
		margin-bottom: 0;
	}
}
