@import '../../../styles/guidelines';

.newBenefitsSection {
	min-height: 100vh;

	/* REMOVE BACKGROUND COLOR */
}

.benefitsWrapper {
	padding: 10rem 0;
}

.benefitsCardsWrapper {
	display: flex;
	flex-direction: column;

	/* CHANGED HERE */
	margin: 0 auto;
}

.newBenefitsCTA {
	margin: 4rem auto;
}
