@import '../../styles/guidelines';

.betaBannerSection {
	background: $sellgo_pink;
	min-height: 4.5rem;
	color: $prim_white;
	font-size: $fontsize_content_14;
	font-weight: $fontweight_medium;
	text-align: left;
	padding: 1rem 3rem;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		cursor: pointer;
	}
}
