/* Insert all global styles here */

/* Font Scale */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap');

/* Base Reset Styling */
@import './base';

/* Layout Guide */
@import './layout';

/* Style Guide for cta button */
.ctabutton {
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 7px;

	&--primary {
		background: #fc7900;
		color: #fff;
		border: 1px solid #fc7900;
	}

	&--secondary {
		background: #fff;
		color: #fc7900;
		border: 1px solid #fc7900;
	}

	&--medium {
		width: max-content;
		padding: 0 3rem;
		font-size: 14px;
		height: 50px;
		font-weight: 600;
	}

	&--small {
		width: max-content;
		padding: 0 2rem;
		font-size: 14px;
		height: 35px;
		font-weight: 600;
	}
}

/* Heading style guides */
.secondary-heading {
	font-size: 32px;
	text-align: center;
	font-weight: 600;
	color: #3b4557;
	@media only screen and(max-width: 650px) {
		font-size: 28px;
	}
}

/* Footer Links Style guide */
a.public-footer-link,
p.copyright {
	text-decoration: underline;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	display: inline-block;

	@media only screen and(max-width: 500px) {
		margin: 8px auto;
		text-align: center;
	}
}

p.copyright {
	text-decoration: none;
}

.footerNavigationLinks {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	margin: 1rem 0;
	a {
		color: #bdc5cc;
		font-size: 14px;
		font-weight: 400;
	}
}
