/* Guide for fonts */

/* Font size scale */
$fontsize_60: 60px;
$fontsize_58: 58px;
$fontsize_56: 56px;
$fontsize_54: 54px;
$fontsize_52: 52px;
$fontsize_50: 50px;
$fontsize_48: 48px;
$fontsize_46: 46px;
$fontsize_44: 44px;
$fontsize_42: 42px;
$fontsize_40: 40px;
$fontsize_38: 38px;
$fontsize_36: 36px;
$fontsize_34: 34px;
$fontsize_32: 32px;
$fontsize_30: 30px;
$fontsize_28: 28px;
$fontsize_26: 26px;
$fontsize_24: 24px;
$fontsize_20: 20px;
$fontsize_18: 18px;
$fontsize_16: 16px;
$fontsize_14: 14px;
$fontsize_12: 12px;
$fontsize_11: 11px;
$fontsize_10: 10px;
$fontsize_9: 9px;
$fontsize_8: 8px;
$fontsize_7: 7px;

/* Font Weight Scale */
$fontweight_light: 300;
$fontweight_regular: 400;
$fontweight_medium: 500;
$fontweight_semibold: 600;
$fontweight_bold: 700;
$fontweight_extrabold: 800;

/* Font Decoration Scales */
$fontdecoration_underline: underline;
$fontdecoration_italic: italic;

/* Line Heights */
$fontlineheight_heading_100: 100px;
$fontlineheight_heading_90: 90px;
$fontlineheight_heading_80: 80px;
$fontlineheight_heading_70: 70px;
$fontlineheight_heading_60: 60px;
$fontlineheight_heading_50: 50px;
$fontlineheight_heading_40: 40px;
$fontlineheight_content_30: 30px;
$fontlineheight_content_20: 20px;
$fontlineheight_content_10: 10px;
