/* Guide for fonts */

/* Font size scale */
$fontsize_title_54: 54;
$fontsize_subtitle_32: 32;
$fontsize_subtitle_28: 28;
$fontsize_subtitle_24: 24;
$fontsize_subtitle_20: 20;
$fontsize_content_16: 16;
$fontsize_content_14: 14;
$fontsize_content_10: 10;

/* Font Weight Scale */
$fontweight_light: 200;
$fontweight_regular: 300;
$fontweight_medium: 400;
$fontweight_semibold: 500;
$fontweight_bold: 600;
$fontweight_extrabold: 700;

/* Font Decoration Scales */
$fontdecoration_underlin: underline;
$fontdecoration_italic: italic;

/* Line Heights */
$fontlineheight_heading_70: 70;
$fontlineheight_content_30: 30;
$fontlineheight_content_20: 20;
