@import '../../../styles/guidelines';

.testimonialsSection {
	padding: 10rem 0;
	background: $prim_white;
	width: 100%;
}

.testimonialsSectionWrapper {
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	height: 100%;
	position: relative;

	.leadingBrands {
		width: 35%;
	}

	.carousel {
		width: 58%;

		/* To adjust the arrow button in the carousel */
		button {
			margin-bottom: 5rem;
		}
	}

	h2 {
		width: 100%;
		color: $black_1;
		font-size: $fontsize_subtitle_24;
		font-weight: $fontweight_bold;
		margin-bottom: 4rem;
	}

	/* Mobile view */
	@media only screen and (max-width: 1000px) {
		flex-direction: column;
		.leadingBrands {
			padding: 0 4rem;
			width: 100%;
			margin-bottom: 4rem;
		}

		.carousel {
			width: 100%;
		}
	}
}

.testimonialTextWrapper {
	margin: 0 auto;
	max-width: 54rem;
	height: max-content;
	border: 1px solid $grey_3;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	padding: 4rem 3rem;
	justify-content: center;

	p {
		font-size: 20px;
		font-weight: $fontweight_semibold;
		color: $black_1;
		text-align: left;
	}
}

.testimonialAuthor {
	margin-top: 3rem;
	display: flex;

	img {
		width: 100px;
		height: 100px;
		border-radius: 100%;
		border: 1px solid $grey_8;
		margin-right: 3rem;
	}
}

.authorDetails {
	display: flex;
	flex-direction: column;

	.name {
		font-size: 20px;
		font-weight: $fontweight_semibold;
		color: $black_1;
		text-align: left;
		margin-bottom: 10px;
	}

	.title,
	.email {
		font-size: 16px;
		font-weight: $fontweight_medium;
		color: $black_1;
		text-align: left;
	}

	.email {
		color: $system_blue;
	}
}

.socialProofIcons {
	display: grid;
	grid-template-columns: 25% 25% 25%;
	column-gap: 12.5%;
	align-items: center;
	justify-content: center;
}

/* For video */
// .testimonialVideo {
// 	width: 50rem;
// 	min-height: 40rem;
// 	margin: 0 auto;
// 	text-align: left;

// 	@media only screen and(max-width: 650px) {
// 		width: 100%;
// 		text-align: center;
// 	}

// 	.videoWrapper {
// 		background: $purple_blue_gradient;
// 		padding: 4px;
// 		width: max-content;
// 		height: 30rem;
// 		border-radius: 7px;
// 		margin: 4rem auto;
// 		margin-bottom: 2rem;
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;

// 		video {
// 			border-radius: 6px;
// 			height: 100%;
// 			background: $grey_0 !important;
// 		}
// 	}

// 	small {
// 		font-size: $fontsize_subtitle_24;
// 		font-weight: $fontweight_semibold;
// 		text-align: center;
// 		line-height: 30px;
// 		color: $black_1;
// 		display: inline-block;
// 		width: 100%;
// 	}

// 	p {
// 		margin: 3rem 0;
// 		text-align: center;
// 		color: $black_0;
// 		font-size: $fontsize_content_14;
// 		font-weight: $fontweight_medium;
// 	}
// }
