@import '../../../styles/guidelines';

.testimonialsSection {
	margin: 10rem auto;
	margin-bottom: 20rem;
}

.testimonialsSectionWrapper {
	text-align: center;
	height: 100%;
	h2 {
		color: $black_1;
		font-size: $fontsize_subtitle_32;
		font-weight: $fontweight_bold;
		span {
			color: $accent_orange;
		}
	}
}

.testimonialVideo {
	width: 50rem;
	height: 40rem;
	margin: 0 auto;
	text-align: left;

	@media only screen and(max-width: 650px) {
		width: 100%;
		text-align: center;
	}

	.videoWrapper {
		background: $purple_blue_gradient;
		padding: 4px;
		width: max-content;
		height: 30rem;
		border-radius: 7px;
		margin: 4rem auto;
		margin-bottom: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;

		video {
			border-radius: 6px;
			height: 100%;
			background: $grey_0 !important;
		}
	}

	small {
		font-size: $fontsize_content_14;
		font-weight: $fontweight_medium;
		color: $prim_dark_2;
		display: inline-block;
		width: 100%;
	}

	p {
		font-size: $fontsize_content_14;
		font-weight: $fontweight_bold;
	}
}
