@import '../../../styles/guidelines';

.commonFeaturesSection {
	color: $prim_dark_2;
	margin-top: 10rem;
	margin-bottom: 10rem;

	h3 {
		/* CHANGED FONT STUFF */
		color: $prim_dark_1;
		font-size: $fontsize_20;
		font-weight: $fontweight_semibold;
		margin-top: 1rem;
		min-height: 4rem;
		text-align: center;
	}
}

.featuresCardWrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 3rem;
	flex-wrap: wrap;
}
